# Local terraform secrets
**/*.tfvars
**/*.tfvars.json
terraform.tfvars

# Local terraform state
**/*.tfstate
**/*.tfstate.*

# Terraform binaries
**/.terraform/
.terraform.lock.hcl

# Azure export leftovers
aztfexport*