name: Deploy Backend

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**' # Only runs when files in the backend folder change

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run Tests
        shell: bash
        run: |
          pushd ./backend/api
          pip install -r requirements.txt pytest
          python -m pytest
          popd

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        with:
          app-name: 'ccportfoliocounter2'
          package: './backend/api'
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}