name: Deploy Frontend

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: 'Deploy to Azure Storage'
        uses: azure/CLI@v1
        with:
          inlineScript: |
            # Using the Connection String secret directly in the command
            az storage blob upload-batch \
              --connection-string "${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}" \
              -d '$web' \
              -s ./frontend \
              --overwrite